#  Size of population, vital statistics and migration in 1950-2023

Import of necessary libraries

In [62]:
import pandas as pd
import numpy as np

 Upload property file with data

In [63]:
dataset = pd.read_csv("poland-population.csv")
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 22 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Years                                 74 non-null     int64
 1   Population as of December 31          74 non-null     int64
 2   Marriages                             74 non-null     float64
 3   Divorces                              74 non-null     float64
 4   Live births                           74 non-null     float64
 5   Deaths total                          74 non-null     float64
 6   Deaths of which infants               74 non-null     float64
 7   Natural increase                      74 non-null     float64
 8   Internal migration inflow             74 non-null     float64
 9   Internal migration outflow            74 non-null     float64
 10  Internal migration net                74 non-null     object
 11  International migration immigration   74 non-null     object
 12  International migration emigration    74 non-null     object
 13  International migration net           74 non-null     object
 14  Total net migration                   74 non-null     float64
 15  Marriages.1                           74 non-null     float64
 16  Divorces.1                            74 non-null     float64
 17  Live births.1                         74 non-null     float64
 18  Deaths                                74 non-null     float64
 19  Natural increase.1                    74 non-null     object
 20  Total net migration.1                 74 non-null     float64
 21  Infant death per 1000 live birth      74 non-null     float64
dtypes: float64(15), int64(2), object(5)
memory usage: 12.8+ KB

In [64]:
for col in dataset.columns:
    if dataset[col].dtype == "object":
        print(f"Column {col} has {dataset[col].nunique()} unique values")

Column Internal migration net has 1 unique values
Column International migration immigration  has 55 unique values
Column International migration emigration has 67 unique values
Column International migration net has 70 unique values
Column Natural increase.1 has 53 unique values

In [65]:
dataset.head()

,Years,Population as of December 31,Marriages,Divorces,Live births,Deaths total,Deaths of which infants,Natural increase,Internal migration inflow,Internal migration outflow,...,International migration emigration,International migration net,Total net migration,Marriages.1,Divorces.1,Live births.1,Deaths,Natural increase.1,Total net migration.1,Infant death per 1000 live birth
0,1950,25035,267.1,11.0,763.1,288.7,82.4,474.4,1340.0,1340.0,...,60.9,-52.8,-52.8,10.8,0.4,30.7,11.6,19.1,-2.1,111.2
1,1951,25507,270.3,11.1,783.6,312.3,90.2,471.3,1349.8,1349.8,...,7.8,-4.4,-4.4,10.7,0.4,31.0,12.4,18.6,-0.2,117.6
2,1952,25999,267.7,12.5,779.0,286.7,74.3,492.3,1386.2,1386.2,...,1.6,2.1,2.1,10.4,0.5,30.2,11.1,19.1,0.1,96.4
3,1953,26511,261.7,12.8,779.0,266.5,68.2,512.5,1348.6,1348.6,...,2.8,-0.8,-0.8,10.0,0.5,29.7,10.2,19.5,-0.0,88.4
4,1954,27012,263.0,12.4,778.1,276.4,64.3,501.7,1458.7,1458.7,...,3.8,-1.0,-1.0,9.8,0.5,29.1,10.3,18.8,-0.0,83.3

In [66]:
for col in dataset.columns[1:15]:
    dataset = dataset.rename(columns={col:col+" in thousands"})

In [67]:
dataset.columns

Index(['Years', 'Population as of December 31 in thousands',
       'Marriages in thousands', 'Divorces in thousands',
       'Live births in thousands', 'Deaths total in thousands',
       'Deaths of which infants in thousands', 'Natural increase in thousands',
       'Internal migration inflow in thousands',
       'Internal migration outflow in thousands',
       'Internal migration net in thousands',
       'International migration immigration  in thousands',
       'International migration emigration in thousands',
       'International migration net in thousands',
       'Total net migration in thousands', 'Marriages.1', 'Divorces.1',
       'Live births.1', 'Deaths', 'Natural increase.1',
       'Total net migration.1', 'Infant death per 1000 live birth'],
      dtype='object')

In [68]:
for col in dataset.columns:
    if ".1" in col:
        dataset = dataset.rename(columns={col:col[:-2]})

In [69]:
dataset.columns

Index(['Years', 'Population as of December 31 in thousands',
       'Marriages in thousands', 'Divorces in thousands',
       'Live births in thousands', 'Deaths total in thousands',
       'Deaths of which infants in thousands', 'Natural increase in thousands',
       'Internal migration inflow in thousands',
       'Internal migration outflow in thousands',
       'Internal migration net in thousands',
       'International migration immigration  in thousands',
       'International migration emigration in thousands',
       'International migration net in thousands',
       'Total net migration in thousands', 'Marriages', 'Divorces',
       'Live births', 'Deaths', 'Natural increase', 'Total net migration',
       'Infant death per 1000 live birth'],
      dtype='object')

In [70]:
for col in ['Marriages', 'Divorces','Live births', 'Deaths', 'Natural increase', 'Total net migration']:
    dataset = dataset.rename(columns={col:col+" per 1000 population"})

In [71]:
dataset.columns

Index(['Years', 'Population as of December 31 in thousands',
       'Marriages in thousands', 'Divorces in thousands',
       'Live births in thousands', 'Deaths total in thousands',
       'Deaths of which infants in thousands', 'Natural increase in thousands',
       'Internal migration inflow in thousands',
       'Internal migration outflow in thousands',
       'Internal migration net in thousands',
       'International migration immigration  in thousands',
       'International migration emigration in thousands',
       'International migration net in thousands',
       'Total net migration in thousands', 'Marriages per 1000 population',
       'Divorces per 1000 population', 'Live births per 1000 population',
       'Deaths per 1000 population', 'Natural increase per 1000 population',
       'Total net migration per 1000 population',
       'Infant death per 1000 live birth'],
      dtype='object')

In [73]:
dataset = dataset.drop(columns=["Internal migration net in thousands"])

In [103]:
for col in dataset.columns:
    if dataset[col].dtype == "object":
        dataset[col] = dataset[col].str.replace('c','')
        dataset[col] = dataset[col].str.replace(',','.')
        dataset[col] = dataset[col].astype("float")

In [104]:
for col in dataset.columns:
    if (dataset[col].dtype == "float" or dataset[col].dtype == "int") and ("in thousands" in col):
        dataset[col] = dataset[col]*1000
        dataset = dataset.rename(columns={col:col[:-13]})

In [105]:
dataset.columns

Index(['Years', 'Population as of December 31', 'Marriages', 'Divorces',
       'Live births', 'Deaths total', 'Deaths of which infants',
       'Natural increase', 'Internal migration inflow',
       'Internal migration outflow', 'International migration immigration ',
       'International migration emigration', 'International migration net',
       'Total net migration', 'Marriages per 1000 population',
       'Divorces per 1000 population', 'Live births per 1000 population',
       'Deaths per 1000 population', 'Natural increase per 1000 population',
       'Total net migration per 1000 population',
       'Infant death per 1000 live birth'],
      dtype='object')

In [106]:
dataset.head()

,Years,Population as of December 31,Marriages,Divorces,Live births,Deaths total,Deaths of which infants,Natural increase,Internal migration inflow,Internal migration outflow,...,International migration emigration,International migration net,Total net migration,Marriages per 1000 population,Divorces per 1000 population,Live births per 1000 population,Deaths per 1000 population,Natural increase per 1000 population,Total net migration per 1000 population,Infant death per 1000 live birth
0,1950,25035000,267100,11000,763100,288700,82400,474400,1340000,1340000,...,60900,-52800,-52800,10,0,30,11,19,-2,111
1,1951,25507000,270300,11100,783600,312300,90200,471300,1349800,1349800,...,7800,-4400,-4400,10,0,31,12,18,0,117
2,1952,25999000,267700,12500,779000,286700,74300,492300,1386200,1386200,...,1600,2100,2100,10,0,30,11,19,0,96
3,1953,26511000,261700,12800,779000,266500,68200,512500,1348600,1348600,...,2800,-800,-800,10,0,29,10,19,0,88
4,1954,27012000,263000,12400,778100,276400,64300,501700,1458700,1458700,...,3800,-1000,-1000,9,0,29,10,18,0,83

In [107]:
dataset[dataset["Years"]==2015]

,Years,Population as of December 31,Marriages,Divorces,Live births,Deaths total,Deaths of which infants,Natural increase,Internal migration inflow,Internal migration outflow,...,International migration emigration,International migration net,Total net migration,Marriages per 1000 population,Divorces per 1000 population,Live births per 1000 population,Deaths per 1000 population,Natural increase per 1000 population,Total net migration per 1000 population,Infant death per 1000 live birth
65,2015,38437000,188300,67300,369300,394900,1500,-25600,387500,387500,...,28100,-15800,-15800,4,1,9,10,0,0,4

In [108]:
for col in dataset.columns:
    if dataset[col].dtype == "float":
        dataset[col] = dataset[col].astype("int")

In [109]:
dataset.head()

,Years,Population as of December 31,Marriages,Divorces,Live births,Deaths total,Deaths of which infants,Natural increase,Internal migration inflow,Internal migration outflow,...,International migration emigration,International migration net,Total net migration,Marriages per 1000 population,Divorces per 1000 population,Live births per 1000 population,Deaths per 1000 population,Natural increase per 1000 population,Total net migration per 1000 population,Infant death per 1000 live birth
0,1950,25035000,267100,11000,763100,288700,82400,474400,1340000,1340000,...,60900,-52800,-52800,10,0,30,11,19,-2,111
1,1951,25507000,270300,11100,783600,312300,90200,471300,1349800,1349800,...,7800,-4400,-4400,10,0,31,12,18,0,117
2,1952,25999000,267700,12500,779000,286700,74300,492300,1386200,1386200,...,1600,2100,2100,10,0,30,11,19,0,96
3,1953,26511000,261700,12800,779000,266500,68200,512500,1348600,1348600,...,2800,-800,-800,10,0,29,10,19,0,88
4,1954,27012000,263000,12400,778100,276400,64300,501700,1458700,1458700,...,3800,-1000,-1000,9,0,29,10,18,0,83

In [110]:
thousands_df = dataset.iloc[::,:14:]
per_population_df = dataset.iloc[:,np.r_[0, 14:dataset.shape[1]]]

In [111]:
thousands_df.to_csv("thousands_population.csv")
per_population_df.to_csv("per_population.csv")